/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
}

.container {
  max-width: 480px; /* Keep this if you want the container to have a max width */
  margin: 0 auto; /* This centers the container */
  text-align: center; /* This will also center any inline-block content */
}

/* Logo Styling */
.logo {
  display: block; /* Ensure it's treated as a block-level element */
  max-width: 100%;
  height: auto;
  margin-left: auto; /* Align left */
  margin-right: auto; /* Align right */
  border-radius: 10px;
}

/* Slogan Styling */
.slogan {
  text-align: center;
  margin: 15px 0;
}

.slogan .primary {
  font-size: 1.5rem;
  font-family: 'Brush Script MT', cursive;
  color: #d9534f;
}

.slogan .secondary {
  font-size: 1rem;
  color: #5bc0de;
}

/* Menu Section */
.menu {
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-right: 10px;
}

.menu-item .details {
  flex: 1;
}

.menu-item .details .title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

.menu-item .details .description {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 5px;
}

.menu-item .details .price {
  font-size: 0.9rem;
  font-weight: bold;
  color: #d9534f;
}

/* Button Styling */
.menu-item button {
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-item button:hover {
  background-color: #4cae4c;
}
